@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
main, main section, main section p, main .main-section .grid-container .huella p, main .main-section .grid-container .individual, main .main-section .grid-container .individual-center {
  display: flex;
  flex-direction: column; }

header .navbar div div form button:hover, main section a button:hover, main .main-section form button:hover {
  font-family: 'riftsoft-demi', 'sans-serif';
  text-decoration: none;
  color: #ffffff;
  background-color: #ff158a;
  cursor: pointer; }

@font-face {
  font-family: 'riftsoft-demi';
  src: url("../assets/fonts/riftsoft-demi.woff") format("woff"); }

@font-face {
  font-family: 'riftsoft-regular';
  src: url("../assets/fonts/riftSoft-regular.woff") format("woff"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1 {
  font-family: 'riftsoft-demi', sans-serif;
  font-size: 3rem;
  color: #6454d1;
  text-align: center; }

h2 {
  font-family: 'riftsoft-demi', sans-serif;
  font-size: 1.7rem;
  color: #6454d1;
  text-align: center; }

h4 {
  font-family: 'riftsoft-demi', sans-serif;
  font-size: 1.3rem;
  color: #ff158a;
  text-align: center; }

h5 {
  text-align: center; }

header {
  font-family: 'riftsoft-regular', sans-serif;
  font-size: 1.2rem; }
  header .navbar {
    background-color: #6454d1 !important; }
    header .navbar div {
      background-color: #6454d1; }
      header .navbar div a img {
        width: 70px; }
      header .navbar div div ul li a {
        color: #ffffff;
        margin: 0 0 0 10px;
        text-decoration: none;
        transition: 0.5s; }
        header .navbar div div ul li a:hover {
          text-decoration: underline;
          text-underline-offset: 3px;
          cursor: pointer; }
      header .navbar div div form {
        display: flex;
        align-items: center; }
        header .navbar div div form button {
          color: #ffffff;
          border: #ffffff 1px solid;
          background-color: #6454d1;
          border-radius: 10px;
          padding: 5px 10px;
          margin: 0 10px 0 0;
          transition: 0.5s; }

main {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.2rem;
  width: 100%;
  padding: 0px;
  justify-content: center;
  align-items: center;
  text-align: start; }
  main .hero {
    font-family: 'riftsoft-demi', sans-serif;
    font-size: 1.3rem;
    font-weight: 300;
    width: 100%;
    padding: 0;
    height: 90vh;
    background-image: url(../../assets/images/biblioteca.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; }
    main .hero h1 {
      font-weight: 600;
      font-size: 2.5rem;
      color: #ffffff;
      text-align: center;
      text-transform: uppercase;
      display: inline-block;
      position: relative;
      top: 85%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(100, 84, 209, 0.9);
      padding: 10px;
      border-radius: 20px; }
  main section {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 50px; }
    main section p {
      justify-content: center;
      align-items: center;
      text-align: center;
      color: #000000;
      opacity: 0.8;
      width: 80%;
      padding: 0; }
    main section a button {
      font-family: 'riftsoft-regular', 'sans-serif';
      font-size: medium;
      font-weight: 300;
      background-color: #6454d1;
      color: #ffffff;
      border: none;
      padding: 5px 20px 6px 20px;
      border-radius: 20px;
      align-items: center;
      margin: 10px 0 20px 0;
      transition: 0.5s; }
    main section .galeria {
      width: 80%;
      display: grid;
      margin-top: 10px;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: auto;
      grid-gap: 10px; }
      main section .galeria .item-galeria-row {
        grid-row: span 2; }
        main section .galeria .item-galeria-row img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      main section .galeria .item-galeria-column {
        grid-column: span 2; }
        main section .galeria .item-galeria-column img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      main section .galeria .item-galeria-feria {
        grid-column: span 1; }
        main section .galeria .item-galeria-feria img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      main section .galeria .item-galeria {
        grid-column: span 1; }
        main section .galeria .item-galeria img {
          width: 100%;
          height: 100%;
          object-fit: cover; }

main .main-section {
  width: 100%;
  padding: 20px 10px 0 10px; }

main .testimonios {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap; }
  main .testimonios .testimonios-card {
    width: 300px;
    height: 500px;
    margin: 10px 10px 20px 10px;
    border: 2px solid #6454d1;
    border-radius: 25px;
    text-align: center;
    transition: 1s; }
    main .testimonios .testimonios-card:hover {
      transform: scale(1.1);
      box-shadow: 3px 2px 38px -5px rgba(0, 0, 0, 0.58);
      -webkit-box-shadow: 3px 2px 38px -5px rgba(0, 0, 0, 0.58);
      -moz-box-shadow: 3px 2px 38px -5px rgba(0, 0, 0, 0.58); }
    main .testimonios .testimonios-card img {
      width: 100%;
      border-radius: 25px 25px 0 0; }
    main .testimonios .testimonios-card h2 {
      font-family: 'riftsoft-demi', sans-serif;
      font-size: 1.3rem;
      color: #ff158a;
      text-align: center;
      margin-top: 10px; }
    main .testimonios .testimonios-card p {
      width: 100%;
      font-size: medium;
      padding: 0 10px; }

main .main-section .img-libro {
  text-align: center;
  width: 70%;
  object-fit: cover; }

main .main-section .grid-container {
  width: 90%;
  display: grid;
  margin: 10px 0 10px 0;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center; }
  main .main-section .grid-container .huella {
    grid-column: span 2;
    display: inline-block;
    width: 90%; }
    main .main-section .grid-container .huella h2 {
      width: 100%;
      padding: 10px; }
    main .main-section .grid-container .huella p {
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
      padding: 10px; }
  main .main-section .grid-container .huella-img {
    width: 100%;
    object-fit: cover;
    justify-content: center; }
  main .main-section .grid-container .factores {
    background-color: blueviolet;
    grid-column: span 2;
    display: inline-block;
    width: 90%; }
  main .main-section .grid-container .comunidades {
    background-color: blueviolet;
    grid-column: span 2;
    display: inline-block;
    width: 90%; }
  main .main-section .grid-container .grid-img {
    width: 100%;
    object-fit: cover;
    grid-column: span 2; }
  main .main-section .grid-container .individual {
    justify-content: start;
    align-items: center;
    text-align: center;
    padding: 10px; }
    main .main-section .grid-container .individual h3 {
      font-family: 'riftsoft-demi', sans-serif;
      font-size: 1.3rem;
      color: #ff158a;
      text-align: center; }
  main .main-section .grid-container .individual-center {
    justify-content: center;
    align-items: center;
    text-align: center; }
    main .main-section .grid-container .individual-center h3 {
      font-family: 'riftsoft-demi', sans-serif;
      font-size: 1.3rem;
      color: #ff158a;
      text-align: center;
      padding: 10px; }

main .main-section form {
  text-align: center; }
  main .main-section form h2 {
    width: 100%; }
  main .main-section form button {
    font-family: 'riftsoft-regular', 'sans-serif';
    font-size: medium;
    font-weight: 300;
    background-color: #6454d1;
    color: #ffffff;
    border: none;
    padding: 5px 20px 6px 20px;
    border-radius: 20px;
    align-items: center;
    margin: 10px 0 20px 0px;
    text-align: center;
    justify-self: center;
    transition: 0.5s; }
    main .main-section form button svg {
      margin: 0 5px 3px 0; }

main .main-section img {
  width: 80%;
  margin-bottom: 15px; }

.footer {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 0.8rem;
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  background-color: rgba(100, 84, 209, 0.7); }
  .footer .footer-izq {
    width: 60%;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-self: center;
    padding: 20px 0 0 20px; }
    .footer .footer-izq div a img {
      width: 30px;
      margin: 0px 3px 5px 0px; }
    .footer .footer-izq div div p {
      color: #ffffff;
      margin-bottom: 2px; }
  .footer .footer-der {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 40%; }
    .footer .footer-der a img {
      width: 70px;
      margin: 5px 10px 5px 0px; }

@media screen and (max-width: 1200px) {
  main .main-section .img-libro img {
    width: 90%; }
  main .main-section .grid-container {
    width: 80%;
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 10px; }
    main .main-section .grid-container .huella {
      grid-column: span 1; }
    main .main-section .grid-container div .huella-img {
      grid-column: span 1; }
    main .main-section .grid-container .individual {
      grid-column: span 2;
      grid-row: span 1; }
      main .main-section .grid-container .individual h3 {
        margin-bottom: 0; }
      main .main-section .grid-container .individual p {
        padding: 0; }
    main .main-section .grid-container .individual-center {
      grid-column: span 2;
      grid-row: span 1; } }

@media screen and (max-width: 991px) {
  header nav {
    z-index: 9999;
    background-color: #6454d1; }
    header nav div div ul a {
      font-size: 1.2rem;
      margin-bottom: 2px; }
    header nav div div form {
      margin-bottom: 10px; } }

@media screen and (max-width: 900px) {
  h1 {
    font-size: 2rem; }
  main section .galeria {
    width: 80%;
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 500px;
    grid-gap: 10px; }
    main section .galeria .item-galeria-row {
      grid-column: span 2;
      grid-row: span 1; }
  main .main-section .img-libro img {
    width: 100%; }
  main .main-section .grid-container {
    width: 70%;
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-gap: 10px;
    text-align: center; }
    main .main-section .grid-container .huella {
      grid-column: span 2;
      width: 100%; }
    main .main-section .grid-container .huella-img {
      grid-column: span 2; }
  .footer {
    display: flex;
    width: 100%;
    flex-direction: column; }
    .footer .footer-izq {
      padding: 20px 0 0 0; }
      .footer .footer-izq div {
        display: inline-block;
        text-align: center;
        justify-content: center; }
    .footer .footer-der {
      display: inline-block;
      width: 100%;
      text-align: center; }
      .footer .footer-der a img {
        width: 60px;
        margin: 10px 0 10px 0; } }

@media screen and (max-width: 600px) {
  header {
    font-size: 1rem; }
  main section .galeria {
    width: 80%;
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr;
    grid-auto-rows: 500px;
    grid-gap: 10px; }
    main section .galeria .item-galeria-row {
      grid-column: span 2;
      grid-row: span 1; }
    main section .galeria .item-galeria-feria {
      grid-column: span 2;
      grid-row: span 1; } }
