//* VARIABLES
$color-principal: #6454d1;
$color-secundario: #ff158a;
$color-terciario: #ffffff;
$color-cuaternario: #000000;

//LISTAS
$width: 100%, 80%, 70%;

//todo EXTENDS

%flex-column {
    display: flex;
    flex-direction: column;
}

%hover-boton{
    font-family: 'riftsoft-demi', 'sans-serif';
    text-decoration: none;
    color: $color-terciario;
    background-color: $color-secundario;
    cursor: pointer;
}

//! MIXINS
@mixin alineacion ($justify-content, $align-items, $text-align) {
    justify-content: $justify-content;
    align-items: $align-items;
    text-align: $text-align;

}
