@media screen and (max-width: 1200px) {

    // IMPACTO 
    main {

        .main-section {
            .img-libro {
                img {
                    width: 90%;
                }
            }

            .grid-container {
                width: 80%;
                display: grid;
                margin-top: 20px;
                grid-template-columns: repeat(2, 1fr);
                grid-auto-rows: auto;
                grid-gap: 10px;

                .huella {
                    grid-column: span 1;
                }

                div {
                    .huella-img {
                        grid-column: span 1;
                    }
                }

                .individual {
                    grid-column: span 2;
                    grid-row: span 1;

                    h3 {
                        margin-bottom: 0;
                    }

                    p {
                        padding: 0;
                    }
                }

                .individual-center {
                    grid-column: span 2;
                    grid-row: span 1;
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {

    // HEADER
    header {
        nav {
            z-index: 9999;
            background-color: $color-principal;

            div {
                div {
                    ul {
                        a {
                            font-size: 1.2rem;
                            margin-bottom: 2px;
                        }
                    }

                    form {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}



@media screen and (max-width: 900px) {
    h1 {
        font-size: 2rem;
    }


    // INDEX
    main {
        section {
            .galeria {
                width: 80%;
                display: grid;
                margin-top: 20px;
                grid-template-columns: repeat(2, 1fr);
                grid-auto-rows: 500px;
                grid-gap: 10px;

                .item-galeria-row {
                    grid-column: span 2;
                    grid-row: span 1;
                }

            }
        }
    }


    // IMPACTO

    main {

        .main-section {
            .img-libro {
                img {
                    width: 100%;
                }
            }

            .grid-container {
                width: 70%;
                display: grid;
                margin-top: 20px;
                grid-template-columns: 1fr;
                grid-auto-rows: auto;
                grid-gap: 10px;
                text-align: center;

                .huella {
                    grid-column: span 2;
                    width: 100%;
                }

                .huella-img {
                    grid-column: span 2;

                }
            }
        }

    }

    .footer {
        display: flex;
        width: 100%;
        flex-direction: column;

        .footer-izq {
            padding: 20px 0 0 0;

            div {
                display: inline-block;
                text-align: center;
                justify-content: center;
            }
        }

        .footer-der {
            display: inline-block;
            width: 100%;
            text-align: center;

            a {
                img {
                    width: 60px;
                    margin: 10px 0 10px 0;
                }
            }
        }
    }
}










@media screen and (max-width: 600px) {

    // INDEX
    header {
        font-size: 1rem;
    }


    main {
        section {
            .galeria {
                width: 80%;
                display: grid;
                margin-top: 20px;
                grid-template-columns: 1fr;
                grid-auto-rows: 500px;
                grid-gap: 10px;

                .item-galeria-row {
                    grid-column: span 2;
                    grid-row: span 1;
                }

                .item-galeria-feria {
                    grid-column: span 2;
                    grid-row: span 1;

                }
            }
        }




    }
}