main {
    .main-section {

        form {
            text-align: center;

            h2 {
                width: nth($width, 1);
            }

            button {
                font-family: 'riftsoft-regular', 'sans-serif';
                font-size: medium;
                font-weight: 300;
                background-color: $color-principal;
                color: $color-terciario;
                border: none;
                padding: 5px 20px 6px 20px;
                border-radius: 20px;
                align-items: center;
                margin: 10px 0 20px 0px;
                text-align: center;
                justify-self: center;
                transition: 0.5s;

                &:hover {
                    @extend %hover-boton;
                }

                svg {
                    margin: 0 5px 3px 0;
                }
            }
        }
    }

}