header {
    font-family: 'riftsoft-regular', sans-serif;
    font-size: 1.2rem;

    .navbar {
        background-color: $color-principal !important;

        div {
            background-color: $color-principal;

            a {

                img {
                    width: 70px;
                }
            }

            div {
                ul {
                    li {
                        a {
                            color: $color-terciario;
                            margin: 0 0 0 10px;
                            text-decoration: none;
                            transition: 0.5s;

                            &:hover {
                                text-decoration: underline;
                                text-underline-offset: 3px;
                                cursor: pointer;
                            }
                        }
                    }
                }

                form {
                    display: flex;
                    align-items: center;

                    button {
                        color: $color-terciario;
                        border: $color-terciario 1px solid;
                        background-color: $color-principal;
                        border-radius: 10px;
                        padding: 5px 10px;
                        margin: 0 10px 0 0;
                        transition: 0.5s;

                        &:hover {
                            @extend %hover-boton;
                        }
                    }
                }
            }
        }
    }
}