main {
    .main-section {

        .img-libro {
            text-align: center;
            width: nth($width, 3);
            object-fit: cover;
        }

        .grid-container {
            width: 90%;
            display: grid;
            margin: 10px 0 10px 0;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: auto;
            grid-gap: 10px;
            @include alineacion (center, center, center);

            .huella {
                grid-column: span 2;
                display: inline-block;
                width: 90%;

                h2 {
                    width: nth($width, 1);
                    padding: 10px;
                }

                p {
                    @extend %flex-column;
                    @include alineacion (center, center, center);
                    width: nth($width, 1);
                    padding: 10px;
                }
            }

            .huella-img {
                width: nth($width, 1);
                object-fit: cover;
                justify-content: center;
            }

            .factores {
                background-color: blueviolet;
                grid-column: span 2;
                display: inline-block;
                width: 90%;
            }

            .comunidades {
                background-color: blueviolet;
                grid-column: span 2;
                display: inline-block;
                width: 90%;
            }

            .grid-img {
                width: nth($width, 1);
                object-fit: cover;
                grid-column: span 2;
            }

            .individual {
                @extend %flex-column;
                @include alineacion (start, center, center);
                padding: 10px;

                h3 {
                    font-family: 'riftsoft-demi', sans-serif;
                    font-size: 1.3rem;
                    color: $color-secundario;
                    text-align: center;
                }

            }

            .individual-center {
                @extend %flex-column;
                @include alineacion (center, center, center);

                h3 {
                    font-family: 'riftsoft-demi', sans-serif;
                    font-size: 1.3rem;
                    color: $color-secundario;
                    text-align: center;
                    padding: 10px;
                }
            }
        }
    }
}