main {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.2rem;
    width: nth($width, 1);
    padding: 0px;
    @extend %flex-column;
    @include alineacion (center, center, start);


    .hero {
        font-family: 'riftsoft-demi', sans-serif;
        font-size: 1.3rem;
        font-weight: 300;
        width: nth($width, 1);
        padding: 0;
        height: 90vh;
        background-image: url(../../assets/images/biblioteca.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;

        h1 {
            font-weight: 600;
            font-size: 2.5rem;
            color: $color-terciario;
            text-align: center;
            text-transform: uppercase;
            display: inline-block;
            position: relative;
            top: 85%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(100, 84, 209, 0.9);
            padding: 10px;
            border-radius: 20px;
        }
    }

    section {
        width: nth($width, 1);
        @extend %flex-column;
        @include alineacion (center, center, center);
        padding-top: 50px;

        p {
            @extend %flex-column;
            @include alineacion (center, center, center);
            color: #000000;
            opacity: 0.8;
            width: nth($width, 2);
            padding: 0;
        }

        a {
            button {
                font-family: 'riftsoft-regular', 'sans-serif';
                font-size: medium;
                font-weight: 300;
                background-color: $color-principal;
                color: $color-terciario;
                border: none;
                padding: 5px 20px 6px 20px;
                border-radius: 20px;
                align-items: center;
                margin: 10px 0 20px 0;
                transition: 0.5s;

                &:hover {
                    @extend %hover-boton;
                }
            }
        }


        .galeria {
            width: nth($width, 2);
            display: grid;
            margin-top: 10px;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: auto;
            grid-gap: 10px;

            .item-galeria-row {
                grid-row: span 2;

                img {
                    width: nth($width, 1);
                    height: 100%;
                    object-fit: cover;
                }
            }

            .item-galeria-column {
                grid-column: span 2;

                img {
                    width: nth($width, 1);
                    height: 100%;
                    object-fit: cover;
                }
            }

            .item-galeria-feria {
                grid-column: span 1;

                img {
                    width: nth($width, 1);
                    height: 100%;
                    object-fit: cover;
                }
            }

            .item-galeria {
                grid-column: span 1;

                img {
                    width: nth($width, 1);
                    height: 100%;
                    object-fit: cover;

                }
            }


        }
    }
}